* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.container {
    width: 1080px;
    margin: auto;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

.container2 {
    width: 1080px;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

header {
    width: 100%;
}

.header1 {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header2 {
    box-shadow: 0 11px 8px -10px rgba(51,71,91,0.12);
    padding-top: 92px;
}

.minilogo {
    float: left;
    width: 29%;
    position: relative;
}

.minilogo::before {
    content: '';
    height: 110%;
    background-color: #cbd6e2;
    position: absolute;
    width: 2px;
    margin-left: 42%;
}

.minilogo a {
    text-decoration: none;
    color: #33475b;
}

.cta {
    width: 25%;
    float: right;
}

.logoleft {
    float: left;
    width: 15%;
}

.menubar {
    float: right;
    width: 70%;
}

#English {
    position: relative;
    font-weight: 400;
}

#loghino {
    height: 1.4rem;
 }

#arrow {
    height: 0.9rem;
    margin-left: 1%;
}

#Sales {
    position: relative;
    padding-left: 11%;
    padding-right: 11%;
    font-weight: 400;
}

#search {
    height: 1.2rem;
    float: right;
    margin-top: 1%;
    margin-right: 4%;
}

.btn-primary {
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5.1% 6%;
    float: right;
}

.btn-primary:hover {
    background-color: #ffbcac;
}

.btn {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    text-decoration: none;
    font-size: 14px;
    padding: 5% 10%;
    float: left;
}

.btn:hover {
    background-color: #fff1ee;
}

#loghino2 {
    height: 1.9rem;
}

#menu {
    list-style-type: none;
    float: right;
    margin-top: 1%;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #33475b;
    text-decoration: none;
    display: inline-block;
    padding-left: 29px;
    font-size: 16px;
    font-weight: 600;
}

.arrow2 {
    height: 0.9rem;
    margin-left: -80%;
}

#arrowD {
    height: 0.9rem;
}

#background {
    height: 750px;
    width: 100%;
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #33475b;
}

.container3 {
    width: 1080px;
    margin: auto;
    padding-top: 4.1%;

}

.main-text {
    float: left;
    width: 430px;
    color: #33475b;
}

h1 {
    font-size: 2.555rem;
    line-height: 1.5;
    margin-bottom: 5%;
}

p {
    line-height: 1.7;
    margin-bottom: 3%;
}

.btn-primary2 {
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 6% 6%;
    float: left;
}

.btn-primary2:hover {
    background-color: #ffbcac;
}

#textmini {
    float: left;
    width: 245px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4%;
}

#menuliste  {
    background-color: #f5f8fa;
}

.container4 {
    width: 1080px;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.main-text2 {
    float: left;
    width: 31%;
    color: #33475b;
    margin-bottom: 7%;
}

.h1-2 {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 5%;
}

#box1 {
    float: right;
    width: 66%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
    border-radius: .1875rem;
    padding: 4.5% 5% 5% 5%;
    position: relative;
    margin-bottom: 2%;
}

#box1:hover {
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transform: scale(1.014);
}

#cerchio {
    display: inline-block;
    height: 26px;
    vertical-align: middle;
}

h4 {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 5px;
}

.p-mini {
    font-size: 12px;
    margin-top: 5%;
    margin-bottom: 4%;
}

.p-mini2 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 4.5%;
}

.p-mini2::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    top: 4px;
    width: 463px;
}

.p-mini3 {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 10px;
}


.p-mini3::before {
    content: '\f058';
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    font-size: 18px;
    color: #ff7a59;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.btn-primary3 {
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 2.5% 10%;
    position: absolute;
    bottom: 12%;
    left: 57%;
}

.btn-primary3:hover {
    background-color: #ffbcac;
}

.box2 {
    float: left;
    width: 32%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
    border-radius: .1875rem;
    padding: 4.5% 5% 11% 5%;
    position: relative;
    margin-right: 2%;
    margin-bottom: 3%
}

.box2:last-of-type{
    margin-right: 0
}

.box2:hover {
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transform: scale(1.014);
}

.icons1  {
    height: 25px;
    vertical-align: middle;
}

.p-mini4 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-top: 10%;
    margin-bottom: 7%;
    padding-top: 8.5%;
    border-top: 1px solid rgba(153,172,194,0.2);
}

.p-mini5 {
    font-size: 12px;
    margin-top: 11%;
    margin-bottom: 4%;
}

.btn-primary4 {
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 4.5% 21%;
    position: absolute;
    bottom: 8%;
}

.btn-primary4:hover {
    background-color: #ffbcac;
}

.data {
    padding: 8.7rem 0;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.data-text {
    max-width: 685px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#data-ptext {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 27px;
}

.data-number {
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    color: white;
}

.tabellona {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 30px;
    width: 25%;
    float: left;
}

.div-icone {
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}

.tabel-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 120px;
    max-height: 100%;
    margin: auto;
}

.text-table h2 {
    position: relative;
    padding-right: 10px;
    margin: 0 0 5px;
    font-size: 2.5em;
    color: #fff;
    display: inline-block;
    line-height: 1em;
}

.text-table h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.tabellona-sotto {
    border-right: 1px solid #fff;
    text-align: center;
    padding: 30px;
    width: 25%;
    float: left;
}

.tabellona4 {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 30px;
    width: 25%;
    float: left;
}

.tabellona8 {
    text-align: center;
    padding: 30px;
    width: 25%;
    float: left;
}

.customers-data {
    width: 1080px;
    margin: auto;
    padding: 100px 0;
}

.text-customers {
    width: 25%;
    float: left;
}

.text-customers h2 {
    font-size: 2.5rem;
    color: #33475b;
    margin-bottom: 7%;
}

.images-customers {
    float: right;
}

.black-man {
    width: 1080px;
    margin: auto;
    padding-bottom: 100px;
}

.blacketesto{
    width: 100%;
}

.text-black {
    float: left;
    width: 41%;
    color: #33475b;
    margin-bottom: 7%;
    position: relative;
}

.btn-primary5 {
    border-radius: 5px;
    background-color: #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 6% 6%;
    position: absolute;
    left: 0;
    top: 222px;
}

.btn-primary5:hover {
    background-color: #ffbcac;
}

#textmini2 {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    top: 333px;
}

.black {
    float: right;
}

footer {
    background-color: #33475b;
    padding-top: 100px;
}

.foot {
    width: 1080px;
    margin: auto;
    height: 662px;
}

.footer-nav {
    height: 393px;
    width: 100%;
}
