* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.container {
    width: 1080px;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

header {
    width: 100%;
}

.header1 {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.header2 {
    height: 92px;
    box-shadow: 0 11px 8px -10px rgba(51,71,91,0.12);
}

.minilogo {
    float: left;
    width: 29%;
    position: relative;
}

.minilogo::before {
    content: '';
    height: 110%;
    background-color: #cbd6e2;
    position: absolute;
    width: 2px;
    margin-left: 42%;
}

.minilogo a {
    text-decoration: none;
    color: #33475b;
}

.cta {
    width: 24%;
    float: right;
}

.logoleft {
    float: left;
    width: 15%;
    height: 92px;
    background-color: orange;
}

.menu {
    float: right;
    width: 60%;
    height: 92px;
    background-color: red;
}

#English {
    position: relative;
    top 5%;
    font-size: 600;
}

#loghino {
     height: 1.4rem;
 }

#arrow {
    height: 0.9rem;
    margin-left: 1%;
}

#Sales {
    position: relative;
    padding-left: 11%;
    padding-right: 11%;
    font-size: 800;
}

#search {
    height: 1.2rem;
    float: right;
    margin-top: 1%;
    margin-right: 4%;
}

.btn-primary {
    border-radius: 5px;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5% 7%;
    float: right;
}

.btn {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    text-decoration: none;
    font-size: 14px;
    padding: 5% 9%;
    float: left;
}
